<p>Title- {{data.title}}</p>
<p>Author- {{data.author}}</p>
<p>Price- {{data.price}}</p>
<p>Average reviews- {{data.avg_reviews}}</p>
<p>N. reviews- {{data.n_reviews}}</p>
<p>Star- {{data.star}}</p>
<p>Dimensions- {{data.dimensions}}</p>
<p>Weight- {{data.weight}}</p>
<p>Language- {{data.language}}</p>
<p>Publisher- {{data.publisher}}</p>
<p>ISBN- {{data.ISBN_13}}</p>
<p>Complete link- {{data.complete_link}}</p>